<h1>Confirm New Article</h1>

<%= form_with(model: @order, local: true) do |form| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <p><%= form.label :book_id %></p>
      <%= @book.title %>
      <%= form.hidden_field :book_id, value: @book.id %>
    </div>

    <div class="field">
      <p><%= form.label :count %></p>
      <%= @order.count %>
      <%= form.hidden_field :count %>
    </div>

    <div class="field">
      <p><%= form.label :address %></p>
      <%= @order.address %>
      <%= form.hidden_field :address %>
    </div>

    <div class="actions">
      <%= form.submit '注文' %>
    </div>
<% end %>

