<%= form_with(model: @order, local: true, url: confirm_orders_path, method: :get) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  商品名：<%= @book.title %>

  <div class="field">
    <%= form.label :count %>
    <%= form.text_field :count %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <%= hidden_field_tag :book_id, @book.id %>

  <div class="actions">
    <%= form.submit '次へ' %>
  </div>
<% end %>
